.Table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(13px);
    color: white;
}

tr {
    width: 100vh;
    height: 64px;
}

tr:first-child {
    height: 48px;
}
tr:last-child {
    height: 48px;
}

td:last-child {
    max-width: 170px;
    min-width: 170px;
    width: 200px;
}
td {
    /* width: calc(100vh/10); */
    min-width: 40px;

}

.input {
    background-color: #282c34;
    border-radius: 4px;
    color: white;
    height: 24px;
    width: 200px;
}

table {
    box-sizing: border-box;
    width: 100vw;
    background-color: #282c34;
    border: #282c34 solid 1px;
}

thead {
    box-sizing: border-box;
    border: #282c34 solid 1px;
    background-color: #282c34;
}

tbody {
    border: #282c34 solid 1px;
    background-color: #69748b;
}

.flex {
    display: inline-flex;
}