.Table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(13px);
    color: white;
}

tr {
    width: 100vh;
    height: 64px;
}

tr:first-child {
    height: 48px;
}
tr:last-child {
    height: 48px;
}

td:last-child {
    max-width: 170px;
    min-width: 170px;
    width: 200px;
}



.width30 {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}

.width-60 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.width100 {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.width-120 {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.width-140 {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
}

.width-160 {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.input {
    background-color: #282c34;
    border-radius: 4px;
    color: white;
    height: 24px;
    width: 200px;
}

table {
    box-sizing: border-box;
    width: 100vw;
    background-color: #282c34;
    border: #282c34 solid 1px;
}

thead {
    box-sizing: border-box;
    border: #282c34 solid 1px;
    background-color: #282c34;
}

tbody {
    border: #282c34 solid 1px;
    background-color: #69748b;
}

.flex {
    display: inline-flex;
}